@import "$styles/_variables";

.header {
  display: flex;
  margin-bottom: $spacing-s;
}

.formSection {
  margin-bottom: $spacing-l;
}

.formContainer {
  width: 80%;
}

.doughnut {
  height: 200px;
  margin: auto auto $spacing-m;
  width: 200px;
}

.table {
  margin: $spacing-xl $spacing-s $spacing-s;
}

.title {
  text-align: center;
}

.titleWithMarginBottom {
  margin-bottom: $spacing-s;
}

.answerHeader {
  display: flex;
  margin-bottom: -$spacing-s;
  margin-left: $spacing-s;
}

.answerHeaderTable {
  display: flex;
  margin: $spacing-s;
}

.subtitleContainer {
  align-self: center;
  padding-right: $spacing-l;
}

.subtitle {
  color: $grey;
  margin-bottom: $spacing-l;
  margin-top: $spacing-s;
}
