@import "$styles/_variables";

.header {
  display: flex;
  margin-bottom: $spacing-s;
}

.formSection {
  margin-bottom: $spacing-xl;
}

.formContainer {
  width: 80%;
}

.doughnut {
  height: 65%;
  margin: auto auto $spacing-m;
  width: 65%;
}
