.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled > a {
  color: currentcolor;
  // https://css-tricks.com/how-to-disable-links/
  // #thats-not-enough-i-want-something-more-complex-so-that-i-can-look-smarter
  display: inline-block;
  pointer-events: none;
  text-decoration: none;
}
